.bet-list
  .mobile-list-item
    &.ui.list
      padding-bottom $base-spacing
      padding-top $base-spacing

      border-bottom 1px solid silver + 60%

      &:first-child
        padding-bottom $base-spacing * 2
        padding-top 0

      &:last-child
        border-bottom 0
