.player-stats-table
  table
    width 100%

    td
      &.collapsing
        width 1%
      &.bar-container
        width 100%

      .bar
        height 8px
        background-color silver - 20%
        border-radius 4px
