.container
  &.ui.view-page
    padding-top $view-top-padding
    padding-bottom $view-bottom-padding

  &.ui.full-height
    height 'calc(100vh - %s)' % $navbar-height

  &.ui.top-heavy
    margin-top -100px

.table.ui
  tr
    &.visible.transition
      display table-row !important

.mobile-list-item
  &.ui.list
    padding-bottom $base-spacing
    padding-top $base-spacing

    border-bottom 1px solid silver + 60%

    &:first-child
      padding-bottom $base-spacing * 2
      padding-top 0

    &:last-child
      border-bottom 0

